/* =====================================================
   RESET 
======================================================= */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
audio, canvas, video { 
display: inline-block; 
*display: inline; 
*zoom: 1; 
}
audio:not([controls]) { 
display: none; 
}
[hidden] { 
display: none; 
}
svg:not(:root) { 
overflow: hidden; 
}
figure { 
margin: 0; 
}
strong{
font-weight:bold;
}


/* BASICOS */
html { 
font-size: 100%; 
overflow-y: scroll; 
-webkit-text-size-adjust: 100%; 
-ms-text-size-adjust: 100%; 
}

body { 
margin: 0; 
font-size: 13px; 
line-height: 1.231; 
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img { 
border: 0; 
-ms-interpolation-mode: bicubic; 
vertical-align: middle; 
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */


/* remember to highlight inserts somehow! */
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}

/* TABLAS */
table {
border-collapse: collapse;
border-spacing: 0;
}

td { 
vertical-align: top; 
}

::-moz-selection { 
background: #fe57a1; 
color: #fff; 
text-shadow: none; 
}
::selection { 
background: #fe57a1; 
color: #fff; 
text-shadow: none; 
}



/* FORMULARIOS */
button, input, select, textarea { 
font-family: sans-serif; 
color: #222;
font-size: 100%; 
margin: 0; 
vertical-align: baseline; 
*vertical-align: middle;  
}
label { 
cursor: pointer; 
}
legend { 
border: 0; 
*margin-left: -7px; 
padding: 0; 
}
button, input { 
line-height: normal; 
*overflow: visible; 
}
button, input[type="button"], input[type="reset"], input[type="submit"] { 
cursor: pointer; 
-webkit-appearance: button; 
}
input[type="checkbox"], input[type="radio"] { 
box-sizing: border-box; 
}
input[type="search"] { 
-webkit-appearance: textfield; 
-moz-box-sizing: content-box; 
-webkit-box-sizing: content-box; 
box-sizing: content-box; 
}
input[type="search"]::-webkit-search-decoration { 
-webkit-appearance: none; 
}
button::-moz-focus-inner, input::-moz-focus-inner { 
border: 0; 
padding: 0; 
}
textarea { 
overflow: auto; 
vertical-align: top; 
resize: vertical; 
}